* {
    margin: 0;
    padding: 0;

}

.breaker-line {
    align-items: center;
    position: relative;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #ff3381, #ffa568, #ff62ff, #af46c4);
}

.about-us-container {
    top: 0;
    /* height: 90vh; */
    /* padding: 2em 0; */
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to left, #0f0f0f9a, transparent); */
    background: linear-gradient(to left, #b6e8ff, hsl(55, 100%, 84%));

}

.back-home {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    /* background: #fff; */
}

.back-home ion-icon {
    height: 30px;
    width: 30px;
    margin: 6px;
    color: black;
}

.back-home h4 {
    font-size: 1.2em;
    color: #000;
}

.video-form {
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
    /* height: 90vh; */
}

.intro-video video {
    height: 360px;
    width: 640px;
    aspect-ratio: 16/9;
    margin: 20px;
}

.vector {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.vector h1 {
    font-size: 2.3em;
    color: #a710ff
}

.vector span {
    background: linear-gradient(to right, #ff498f, #ff9249, #ff56ff, #af46c4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.input-form {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0px 40px;
    align-items: flex-start;
    padding: 1em 2em;
    border-radius: 21px;

    background: linear-gradient(to left, #ffefbc, #ffc7fa);
    box-shadow: 10px 10px 20px #c9daff;

}

.input-form label {
    color: #222;
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px 5px;
    left: 0;
}

.input-form input {
    color: #111;
    border: 1.5px solid #fcd467;
    border-radius: 10px;
    height: 45px;
    width: 400px;
    margin: 5px;
    padding: 0 20px;
}

.input-form input:focus {
    outline: none;
    border: 2.5px solid #ffb42a;
}

.course-checkbox {
    height: 20px !important;
    width: 20px !important;
}

.select-course {
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.select-course label {
    font-size: 1.1em;
    margin: 8px;
}

.select-timing {
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.select-timing label {
    font-size: 1.1em;
    margin: 8px;
}

.free-contact {
    display: flex;
    width: 100%;
    height: 40vh;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2em 10em;
    background: #d5f2ff;
    flex-direction: row;
}

.contact-free-img {
    height: 50vh;
}

/* .contact-wrapper {
    width: 100%;
} */
.contact-wrapper>h1 {
    font-size: 2.3em;
    margin: 10px;
}

.contact-wrapper span {
    background: linear-gradient(to right, #ff498f, #ffa568, #ff62ff, #af46c4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact-wrapper img {
    height: 35px;
    width: 35px;
    margin: 15px;
}

.free-contact-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.3em;
}

.form-submit-button {
    font-size: 1.3em;
    font-weight: 500;
    margin: 10px auto;
    padding: 10px 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    border: 2px solid #fda062;
    background: #ffb350;
    /* background: linear-gradient(to right, #ffbbaa, #ffc0fa, #d8c0ff, #db8cff); */
    border-radius: 10px;
    /* box-shadow: 2px 3px 10px #ffad14,
        -1px -2px 5px #ff87ff; */
    transition: 0.5s;
    cursor: pointer;
}

.about-us-heading {
    height: 90vh;
    display: flex;
    position: absolute;
    width: 60%;
    padding: 2em;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about-us-heading>h1 {
    font-size: 75px;
    font-weight: 500;
    color: #ffffff;
    margin: 20px;
    margin-top: -30px;

}

.about-us-heading h1 span {
    background: linear-gradient(to right, #ff3381, #ffa568, #ff62ff, #af46c4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.about-us-heading>p {
    font-size: 26px;
    color: #ffffff;
    margin: 0 20px;
}

.about-us-heading .button-border {
    height: 62px;
    width: 170px;
    background: linear-gradient(to right, #ff3381, #ffa568, #ff62ff, #af46c4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    margin: 40px 20px;
    cursor: pointer;
}

.about-us-heading .button-border button {
    position: relative;
    padding: 8px 20px;
    /* margin: 10px 40px; */
    font-size: 1.8em;
    color: #fff;
    /* border: 2.5px solid #d1b5f7; */
    border-radius: 8px;
    background: #111;
    cursor: pointer;
}

@media(max-width:680px) {
    .about-us-container {
        padding: none;
    }

    .video-form {
        flex-direction: column;
        height: unset;
        width: 100%;
    }

    .vector>h1 {
        font-size: 1.5em;
        margin: 10px;
    }

    .vector>img {
        width: 80%;
    }

    .input-form {
        width: 100%;
        margin: 0;
        padding: 1em 1.1em;
    }

    .input-form input {
        width: 95%;

    }

    .input-form label {
        font-size: 1.1em;
    }

    .select-course {
        width: 100%;
        justify-content: space-evenly;
    }

    .select-course label {
        font-size: 1.1em;
        margin: 5px 0;
    }

    .select-timing {
        width: 100%;
        justify-content: space-evenly;
    }

    .select-timing>label {
        font-size: 1em !important;
        margin: 5px 0;
    }

    .course-checkbox {
        height: 1em !important;
        width: 1em !important;
        /* margin: 0 !important; */
    }

    .free-contact {
        flex-direction: column;
        height: unset;
        padding: 1em;
    }

    .contact-free-img {
        width: 100%;
    }
}