* {
    margin: 0;
    padding: 0;
}

.whyus-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.question-whyus-video {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.question-whyus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 40px 20px;
}

.question-whyus>h2 {
    font-size: 4em;
    font-weight: 600;
    margin: 0px 0 20px 30px;
}

.question-whyus span {
    color: #10dd6c;
}

.question-whyus>p {
    margin: 10px 40px;
    letter-spacing: 0.6px;
    color: #111;
    font-size: 22px;
}



.breaker-line {
    align-items: center;
    position: relative;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #ff3381, #ffa568, #ff62ff, #af46c4);
}

.cource_all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.our-courses {
    font-size: 4em;
    font-weight: 600;
    margin: 20px;
}

.our-courses span {
    color: #24da7f;
}



.value-heading {
    font-size: 75px;
    font-weight: 600;
    margin: 40px 20px;
}

.value-heading span {
    background: linear-gradient(to right, #ff3381, #ffa568, #ff62ff, #af46c4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.value-points {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0;
}

.points {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 30px;
}

.img-point {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    margin: 6px 40px;
    align-items: center;
    justify-content: center;
}

.img-point ion-icon {
    color: #ffffff;
    font-size: 30px;
    background: rgb(37, 231, 79);
    border-radius: 50%;
    margin: 5px;
    margin-right: 20px;
}

.our-tutors {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right, rgb(255, 210, 210), rgb(255, 255, 204), rgb(216, 240, 255), rgb(255, 209, 255));
}

.our-tutors ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.our-tutors ul li {
    display: flex;
    list-style: none;
    margin: 0 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #2c2c2c;
    font-weight: 500;
    font-size: 1.2em;
}

.our-tutors ul li span {
    display: flex;
    font-size: 1.7em;
    font-weight: 700;
    margin: 5px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ff498f, #ffa568, #ff62ff, #af46c4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.our-tutors img {
    height: 15vh;
}

.goo-rev {
    text-decoration: none;
    color: #111;
}

.why-us-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0px;
    position: relative;

}

.why-us-card {
    display: flex;
    width: 27vw;
    padding: 1.5em;
    /* background: green; */
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.25s;
    background: linear-gradient(145deg, #f8edff, #fffaee);
    box-shadow: 8px 8px 30px #ffdafd,
        -6px -6px 20px #ffdcdc;
    /* box-shadow: #ffc8fb 0px 13px 27px -5px, #ffe9e9 0px 8px 16px -8px; */
}

.why-us-card:hover {
    scale: 1.02;
    background: linear-gradient(145deg, #fefbff, #fff9f9);
    box-shadow: 10px 10px 40px #ffdafd,
        -8px -8px 30px #ffdcdc;
}

.why-us-card>img {
    height: 100px;
    width: 100px;
    position: relative;
    margin: auto;
}

.why-us-card>h2 {
    font-size: 1.4em;
    margin: 10px;
    letter-spacing: 1px;
}

.why-us-card>p {
    font-size: 1.2em;
}

.course-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0px;
    position: relative;

}

.course-card {
    display: flex;
    width: 27vw;
    padding: 1.5em;
    /* background: green; */
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(145deg, #faf0ff, #fffbf3);
    transition: 0.25s;
    box-shadow: 8px 8px 30px #ffdafd,
        -6px -6px 20px #ffdcdc;
    /* box-shadow: #ffc8fb 0px 13px 27px -5px, #ffe9e9 0px 8px 16px -8px; */
}

.course-card:hover {
    scale: 1.01;
    background: linear-gradient(145deg, #fefbff, #fff9f9);
    box-shadow: 8px 8px 40px #ffbffc,
        -6px -6px 30px #ffbebe;
}

.course-card h2 {
    background: linear-gradient(to right, #ff498f, #ffa568, #ff62ff, #af46c4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2.5em;
    margin: 10px auto;
    /* text-align: start; */
}

.course-card img {
    height: 160px;
    width: 170px;
}

.course-card ul {
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.course-card ul li {
    align-items: flex-start;
    text-align: left;
    margin: 5px;
    font-size: 1.2em;
}

.course-card button {
    padding: 10px 20px;
    background: linear-gradient(145deg, #ebc3ff, #ffd2b3);
    border: none;
    border-radius: 12px;
    font-size: 1.3em;
    font-weight: 500;
    margin: auto;
    cursor: pointer;
    transition: 0.35s;
}

.course-card button:hover {
    letter-spacing: 1.2px;
    background: linear-gradient(145deg, #e5b2ff, #ffc7a1);
}

@media(width <300px) {
    .whyus-container {
        position: relative;
        top: 0vh;
    }

    .our-tutors {
        position: relative;
        top: 0vh;
        height: unset;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .our-tutors ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
    }

    .our-tutors ul li {
        font-size: 1.1em;
        margin: 5px;
        justify-content: flex-start;
    }

    .our-tutors ul li span {
        margin: 5px;
        font-size: 1.3em;
    }

    .our-tutors img {
        height: 70px;
        width: auto;
    }

    .goo-rev {
        text-decoration: none;
        color: #111;
    }

    .value-points {
        flex-direction: column;
        margin: 0 20px;
        align-items: flex-start;
    }

    .points {
        align-items: flex-start;
        justify-content: center;
        margin: 0;
    }

    .img-point {
        margin: 10px;
    }

    .course-cards {
        flex-direction: column;
    }

    .course-card {
        width: 85vw;
        height: unset;
        margin: 20px 10px;
    }

    .why-us-cards {
        flex-direction: column;

    }

    .why-us-card {
        width: 85vw;
        height: unset;
        margin: 20px 10px;
    }

    .img-point ion-icon {
        margin: 10px;
        min-width: 28px;
    }

    .question-whyus>h2 {
        font-size: 3em;
        font-weight: 600;
        /* margin-left: 30px; */
    }

    .question-whyus>p {
        font-size: 1.2em;
        margin: 0;
        /* font-weight: 600; */
        /* margin-left: 30px; */
    }
}

@media(300px <=width <=600px) {
    .whyus-container {
        position: relative;
        top: 0vh;
    }

    .our-tutors {
        position: relative;
        top: 0vh;
        height: unset;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .our-tutors ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
    }

    .our-tutors ul li {
        font-size: 1.1em;
        margin: 5px 0;
        justify-content: flex-start;
    }

    .our-tutors ul li span {
        margin: 5px;
        font-size: 1.3em;
    }

    .our-tutors img {
        height: 70px;
        width: 80px;
    }

    .goo-rev {
        text-decoration: none;
        color: #111;
    }

    .value-points {
        flex-direction: column;
        margin: 0 20px;
        align-items: flex-start;
    }

    .points {
        align-items: flex-start;
        justify-content: center;
        margin: 0;
    }

    .img-point {
        margin: 10px;
    }

    .course-cards {
        flex-direction: column;
    }

    .course-card {
        width: 300px;
        margin: 20px 10px;
    }

    .why-us-cards {
        flex-direction: column;

    }

    .why-us-card {
        width: 300px;
        margin: 20px 10px;
    }

    .img-point ion-icon {
        margin: 10px;
        min-width: 28px;
    }

    .question-whyus>h2 {
        font-size: 3.6em;
        font-weight: 600;
        margin-left: 30px;
    }
}