.footer-container {
    background-color: #ffffff;
    /* background: linear-gradient(to left, #fffce7, #f0fff5); */
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.footer-organiser {
    display: flex;
    flex-direction: row;
    justify-content: space-evenl;
    width: 100%;
}

.footer-subscription {
    display: flex;
    position: relative;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
    padding: 24px;
    color: #000000;
}

.social-logo img {
    height: 10vh;
    width: 15vw;
    cursor: pointer;
    margin: 10px 20px;
}

.footer-subscription>p {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.footer-subscription-heading {
    align-items: flex-start;
    margin-bottom: 15px;
    font-size: 30px;
}

.footer-subscription-heading span {
    /* background: linear-gradient(to right, #fd136d, #ff893a, #ff3cff, #b41cd3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    color: rgb(28, 219, 70);
}

.input-areas {
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-areas form {
    display: flex;
    flex-direction: row;
}

.footer-input {
    padding: 8px 20px;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    border: 2px solid #ebebeb;
    background-color: #ffffff;
}

.footer-submit-button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    /* margin: 5px; */
    font-size: 1.12em;
    font-weight: 500;
    color: #000000;
    background: rgb(255, 191, 73);
    cursor: pointer;
}

.footer-links {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    /* padding: 2em; */
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-wrapper-2 {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    text-align: left;
    width: 170px;
    box-sizing: border-box;
}

.footer-link-items h2 {
    margin-bottom: 10px;
    color: #000000;
}

.footer-link-items a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
    color: #7f6cee;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

.footer-input::placeholder {
    color: #5e5e5e;
}

/* Social Icons */
.social-icon-link {
    color: #000000;
    font-size: 24px;
}

.social-media {
    display: flex;
    position: relative;
    right: 0;
    bottom: 0;
    margin: 30px;
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    /* text-align: center; */
}



.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
}

.social-icons ion-icon {
    font-size: 2em;
}

.social-icon-link-facebook img {
    width: 26px;
    height: 26px;
}

.social-icon-link-instagram img {
    width: 26px;
    height: 26px;
}

.social-icon-link-youtube ion-icon {
    color: #ee3a3a;
}

.social-icon-link-whatsapp img {
    width: 30px;
    height: 30px;
}

/* .social-logo {
    color: #fff;
    justify-self: start;
    margin: 10px 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;

} */

.website-rights {
    color: #000000;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

@media screen and (max-width: 820px) {
    .footer-container {}

    .social-logo img {
        width: 50vw;
    }

    .footer-organiser {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
    }

    .footer-link-wrapper {
        display: flex;
        flex-direction: row;
    }

    .footer-link-wrapper-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-link-items {
        margin-left: 20px;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
    }

    .social-media-wrap {
        flex-direction: column-reverse;
    }
}