.navbar {
    /* background: linear-gradient(to left, #0f0f0f9a, transparent); */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    /* box-shadow: 0, 0, #222, 0; */
    background: #ffffff00;
}

.navbar.active {
    background: #ffffffd2;
}

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    /* padding: 10px; */
}

.navbar .Navbar-logo img {
    height: 10vh;
    width: 15vw;
    cursor: pointer;
    margin: 10px;
    margin-top: 15px;
    /* margin-left: 10px; */

}

.nav-free-trial-button {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    text-decoration: none;

}

.nav-free-trial-button button {
    height: 10vh;
    width: 200px;
    background: rgb(255, 234, 143);
    border: none;
    color: #111;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 0.05em;

}

/* .nav-free-trial-button button:hover {
    background: #111;
    color: #fff;
} */
@media(max-width:980px) {
    .navbar {
        height: 15vh;
    }

    .navbar-container {
        justify-content: center;
    }

    .navbar .Navbar-logo img {
        height: 10vh;
        width: 55vw;
        cursor: pointer;
        margin: 10px;
        margin-top: 5vh;
        /* margin-left: 10px; */

    }
}